Thumbs.db
Desktop.ini
~$*
*.tmp
*.temp
*.bak
*.log
.DS_Store
.vscode/
.idea/

# Binarios de documentación técnica importados localmente
documentation/**/*.pdf
documentation/**/*.zip
documentation/**/*.rar
documentation/**/*.7z
documentation/**/*.step
documentation/**/*.stp
documentation/**/*.dxf

# KiCad local preferences
*.kicad_prl

# KiCad lock files
~*.lck
*.kicad_sch.lck
*.kicad_pcb.lck
*.kicad_pro.lck

# KiCad automatic backups
*-backups/
*.kicad-bak
